@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

@import 'variables';


* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

// Utility 

button {
  cursor: pointer;
}

.primary-color {
  color: $primary-color;
}

.title {
  font-size: 12rem;
  margin-bottom: .8rem;
  text-align: left;
  line-height: 1;
  color: $light-color;
}

body {
  background: $seconday-color;
}

img {
  filter: invert(1);
}

p {
  line-height: 2rem;
  font-size: 1.5rem;  
  color: $light-color;
}

.click {
  transition: all 300ms ease;
  &:hover {
    transform:scale(1.2);
    opacity: .6;
  }
  &:active {
    transform:scale(0.8);
  }
  

}




// NAVIGATION

#personal-logo {
  height: 75px;
  width: 75px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  max-width: 90vw;
  margin: 0 auto;
  padding: 0 1.4rem;
  height: 100px;

  .nav__link--list {
    display: flex;
    list-style: none;
  }

  .nav__link {
    margin: 0 .8rem;

  
  }

  .nav__link--anchor {
    font-size: 1rem;
    color: $light-color;
    font-weight: 700;
  }

  .fa-adjust {
    font-size: 1.2rem;
  }
}




// LANDING PAGE


#landing-page {
  min-height: 100vh;
}


.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1600px;

    .title {
      color: $primary-color;
    }

    .header__para {
      max-width: 450px;
      padding: 0 2rem;
    }

    .social__list {
      margin-top: 2rem;
      display: flex;
    }

    .social__link {
      background: $primary-color;
      color: $light-color;
      padding: .6rem;
      width: 3rem;
      height: 3rem;
      font-size: 2rem;
      margin: 0 1rem 0 2rem;
      border-radius: 50%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      
    }
}

.mail__btn {
  width: 6rem;
  height: 6rem;
  font-size: 2rem;
  border-radius: 50%;
  border: none;
  background: $primary-color;
  color: $light-color;
  position: absolute;
  bottom: 2rem;
  right: 2.4rem;
}

.scroll {

  position: absolute;
  bottom: 1.2rem;
  left: 50%;
  transform: translateX(-50%);
  
  @keyframes scroll {
    0% {
      transform: translateY(3px);
    }

    100% {
      transform: translateY(-3px);
    }
  }

  .scroll__icon {
    height: 30px;
    width: 20px;
    border: 2px solid $primary-color;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:after {
      content: "";
      width: 4px;
      height: 6px;
      background-color: $primary-color ;
      border-radius: 2px;
      animation: scroll 1000ms infinite alternate-reverse;
    } 
  }
}


